<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#/s" class="navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="javascript:;" class="navbar-brand text-center">新建订单信息</a>
            </div>
        </div>
    </div>
<div class="newmsg">
    <ul>
        <li><h3 class="col-xs-3">头像</h3><img src="images/{{headImg}}" alt="" class="img-responsive" style="width: 40px;height:40px"></li>
        <li><h3 class="col-xs-3">昵称</h3><p class="codename"></p></li>
    </ul>
    <p class="pull-right" ng-click="random()">随机头像与昵称</p>

    <button type="button" class="btn btn-success col-xs-7 col-xs-offset-2" ng-click="keep()">保存</button>
</div>

